Parchment/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #BDC3C7;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #BDC3C7;
}

/* Customize container */
@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 940px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .header a{
    color: inherit;
  }
  /* Remove the bottom border on the jumbotron for visual effect */

  .panel{
    border-radius: 15px;
  }
  .panel .panel-heading {
    border-radius: 0px 0px 15px 15px;
    font-size: 17px;
  }
  .panel a{
    font-size: 14px;
    color: inherit;
  }
  .tags {
    text-align: right;
  }
  .my_panel {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: inherit;
    border-radius: 15px;
    background-color: #FFFFFF;
  }

  .my_panel h1,
  .my_panel .h1 {
    line-height: 1;
    color: inherit;
  }

  .my_panel p {
    line-height: 1.4;
    margin-bottom: 30px;
  }
}
